<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script> <!-- Socket.IO client -->
</head>
<body>
    <div class="navbar">
        
        <a href="{{ url_for('home') }}" class="navbouton">
            <img src="{{ url_for('static', filename='logo.jpg') }}" height="65" width="65"  alt="Whale-Shark">
        </a>
        <a class="navbouton">Whale-Shark</a>
        {% if current_user.is_authenticated %}
            <a class="navbouton">Connected as {{ username }}</a>
            <a href="{{ url_for('logout') }}" class="navbouton">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="navbouton">Login</a>
            <a href="{{ url_for('register') }}" class="navbouton">Register</a>
        {% endif %}
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
